<!-- Header Part Start -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Product Management</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Account" matTooltipPosition="below">
    <mat-icon>
      account_circle
    </mat-icon>
  </button>
  <button mat-icon-button matTooltip="Logout" matTooltipPosition="below">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<!-- Header Part End -->

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="inner-sidenav" mode="side" opened>
    <div class="sidebar">
      <div><b>Menu</b></div>
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="sidemenu">
      <button mat-button color="primary" routerLink="/dashboard"><i
          class="material-icons me-2 icon-color">dashboard</i>Dashboard</button>
      <button mat-button color="primary" routerLink="/product"><i
          class="material-icons me-2 icon-color">store</i>Product</button>
      <button mat-button color="primary" routerLink="/purchase"><i
          class="material-icons">shopping_cart</i>Purchase</button>
      <button mat-button color="primary" routerLink="/stock"><i
          class="material-icons me-2 icon-color">stacked_bar_chart</i>Stocks</button>
    </div>

  </mat-drawer>

  <div class="sidenav-content p-4">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>